_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Ignore bundler config.
.bundler/

# Ignore Jekyll build output.
_site/

# Ignore all RubyGems.
*.gem

# Ignore the Gemfile.lock file.
Gemfile.lock

# Ignore node_modules (if you're using any front-end tooling like Webpack, NPM, etc).
node_modules/

# Ignore the .sass-cache (used by SASS).
.sass-cache/

# Ignore logs and temporary files.
log/
tmp/

# Ignore OS-specific files.
.DS_Store          # macOS
Thumbs.db          # Windows

# Ignore IDE files (e.g., VS Code, JetBrains, etc.)
.idea/
.vscode/

# Ignore ruby version manager (RVM) configuration files
.rvmrc
.ruby-version

# Ignore any backup files or editor-specific files.
*~
*.bak
*.swp
